@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-calendar-picker-indicator {
  background-color: #DED8E4;
  border-radius: 2px;
 }

@layer components {

  .signin-form-container {
    @apply min-h-screen max-w-4xl flex flex-col justify-center items-center p-4 sm:p-6 mx-auto
  }

  .signin-form {
    @apply bg-[#02000555] px-5 sm:px-10 lg:px-20 py-12 rounded-2xl flex flex-col items-center relative z-10
  }

  .signin-form-text {
    @apply text-lg sm:text-xl text-white font-extralight max-w-[450px] tracking-wide text-center py-10
  }

  .signin-btn {
    @apply gap-2 py-1 px-4 rounded-full shadow-inner transition-shadow
  }

  .topbar {
    @apply flex justify-between items-center relative bg-purple-800 border-purple-900 border-b-2 py-3 md:py-5 px-3 md:px-5 gap-5 w-full
  }

  .leftbar {
    @apply hidden lg:flex flex-col bg-purple-900 h-full min-w-[250px] xl:w-[300px]
  }

  .leftbar-link {
    @apply flex items-center gap-1 hover:bg-purple py-2 px-3 rounded-sm w-full text-sm transition-colors
  }

  .bottombar-link {
    @apply flex flex-col items-center p-1 rounded-sm hover:bg-purple transition-colors
  }

  .page-content-container {
    @apply h-full px-3 pt-7 lg:px-7 pb-20 overflow-y-auto w-full app-scroll
  }

  .task-card {
    @apply bg-purple-100 p-4 rounded-sm relative flex flex-col overflow-hidden min-h-[100px]
  }

  .task-card-title {
    @apply sm:text-lg sm:leading-6 font-medium text-ellipsis text-nowrap overflow-hidden text-purple-800 border-b-2 pb-1 pr-5 mb-1 border-purple-800
  }

  .task-card-button {
    @apply absolute bottom-3.5 right-4 p-0.5 rounded-sm hover:scale-105
  }

  .task-card-overlay {
    @apply absolute top-0 left-0 w-full h-full bg-white z-20 flex flex-col text-purple-800 p-3 transition-transform text-sm
  }


  .subtask-fieldset {
    @apply border-purple-100 border border-b-0 rounded-sm p-2 px-3 sm:px-5 pb-3
  }

  .form-element {
    @apply flex flex-col my-5 gap-1
  }

  .form-input {
    @apply py-1 px-3 rounded-sm bg-purple-100 text-purple-900 placeholder:text-[#777777] transition-shadow w-full
  }

  .taskCard-completion-checkbox {
    @apply w-[10%] flex justify-end pt-1 absolute right-5 z-10
  }

  .taskDetails-container {
    @apply max-w-[700px] mx-auto lg:mx-0 bg-purple-100 text-purple-800 p-3 rounded-sm text-sm sm:text-base
  }

  .taskDetails-button {
    @apply flex-col py-2 w-full text-sm sm:text-base transition-shadow hover:shadow-md hover:shadow-purple-800
  }

  .modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#02000544] z-40 flex justify-center items-center
  }
}

@layer utilities {
  .app-scroll {
    @apply [&::-webkit-scrollbar]:w-1 sm:[&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-purple-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-[#99b9ca]
  }

  .input-shadow {
    @apply focus:shadow-lg focus:shadow-purple outline-none border-0
  }

}

